.section-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 32px;
    padding-bottom: 32px;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
        padding-bottom: 45px;
    }
    .title {
        @include section_header__title__0;
    }
    .subtitle {
        @include section_header__subtitle__0;
        margin-bottom: 10px;
    }
    &__container {
    }
    &.mode {
        &--border {
            .section-header__container {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 48px;
                    height: 3px;
                    background-color: color(ِBlue_05);
                    bottom: 0px;
                }
            }
        }
    }
}
