.button {
    vertical-align: middle;
    display: flex;
    align-items: center;
    .button__icon {
        display: flex;
    }
    &.bg--sky {
    }
    &.bg--blue {
    }
    &.mode {
        &--blog-tab {
            color: color(ِBlue_05);
            background-color: #fff;
            border-radius: rem(18);
            padding: 0px rem(8);
            @include button__blog_tab__0;
            @include mq_min($xs) {
            }
            @include mq_min($md) {
                padding: rem(2.5) rem(12);
            }
            &.theme {
                &--primary {
                    background-color: color(Hover_01);
                }
            }
        }
        &--tab {
            @include button__tab__0;
            border-radius: rem(18);
            padding: rem(4.5) rem(16);
            color: color(Gray_3);            display: inline-flex;

        }
        &--more {
            color: color(Gray_4);
            gap: rem(16);
            padding: rem(4.5) rem(16);
            padding-left: rem(20);
            border-radius: rem(8);
            @include button__more__0;
        }
        &--date {
            color: color(Gray_025);
            @include data__0;
        }
    }
    &.hover {
        &--primary {
            &:hover {
                background-color: color(Hover_01);
                color: color(ِBlue_05);
                path {
                    stroke: color(ِBlue_05);
                }
            }
        }
        &--secondary {
            &:hover {
                background-color: color(Hover_01);
                color: color(Gray_4);
                path {
                    stroke: color(ِBlue_05);
                }
            }
        }
    }
    &.active {
        &--primary {
            background-color: color(ِBlue_05);
            color: #fff;
        }
    }

}