.card {
    &.mode {
        &--blog-detail {
            color: color(Gray_4);
            display: flex;
            gap: 8px;
            @include mq_min($xs) {
            }
            @include mq_min($md) {
                max-width: 382px;
                flex-direction: column;
            }
            .detail {
                display: flex;
                justify-content: space-between;
                order: 1;
                @include mq_min($xs) {
                }
                @include mq_min($md) {
                    order: 0;
                }
                .items-container {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 8px;
                }
            }
            .title {
                @include card__title__0;
                text-align: justify;
                @include mq_min($xs) {
                }
                @include mq_min($md) {
                    text-align: inherit;
                    padding: 24px 0;
                }
            }
            .description {
                @include card__description__0;
                text-align: justify;
                display: none;
                @include mq_min($xs) {
                    display: block;
                }
                @include mq_min($md) {
                }
            }
            .card__footer {
                display: none;
                justify-content: flex-end;
                padding-top: 24px;
                @include mq_min($xs) {
                }
                @include mq_min($md) {
                    display: flex;
                }
            }
            .card__img {
                width: 40%;
                flex: 1;
                @include mq_min($xs) {
                }
                @include mq_min($md) {
                    width: unset;
                }
                .tr-img-wrap-outer {
                    width: 100%;
                }
                img {
                    border-radius: 8px;
                    @include mq_min($xs) {
                    }
                    @include mq_min($md) {
                        border-radius: 16px;
                    }
                }
            }
            .card__body {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include mq_min($xs) {
                }
                @include mq_min($md) {
                    width: unset;
                    padding: rem(24) rem(32);
                }
            }
            // theme banerr in categore

            // &.theme--primary,
            // &:nth-child(4) {
            //     display: none;
            //     max-width: 791px;
            //     position: relative;
            //     height: fit-content;

            //     @include mq_min($xs) {
            //     }
            //     @include mq_min($md) {
            //         display: flex;
            //     }
            //     .card__img {
            //         width: 790px;
            //     }
            //     .card__body {
            //         position: absolute;
            //         bottom: 0;
            //         background-color: rgba(0, 0, 0, 0.5);
            //         border-radius: 0px 0px 16px 16px;
            //         width: 100%;
            //     }
            //     .title {
            //         color: #fff;
            //         @include card__title__banner__0;
            //         padding: 0;
            //     }
            //     .detail {
            //         display: none;
            //     }
            //     .description {
            //         display: none;
            //     }
            //     .card__footer {
            //         display: none;
            //     }
            // }
            &.theme {
                &--row {
                    flex-direction: row;
                    max-width: unset;
                    @include mq_min($xs) {
                    }
                    @include mq_min($md) {
                        gap: 24px;
                    }
                    .card__img {
                        position: relative;
                        height: fit-content;
                        .play-icon {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            background: rgba(0, 0, 0, 0.4);
                            z-index: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 8px;
                            @include mq_min($xs) {
                            }
                            @include mq_min($md) {
                                // background: rgba(0, 0, 0, 0.2);
                                border-radius: 16px;
                            }
                            img {
                                display: flex;
                            }
                        }

                        .img {
                            width: 100%;
                            position: relative;
                            &::before {
                                position: absolute;
                                content: "";
                                left: 0;
                                right: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(0, 0, 0, 0.2);
                            }
                        }
                    }
                    .card__body {
                        max-width: 44%;
                        padding: 11px 0px;
                        @include mq_min($xs) {
                        }
                        @include mq_min($md) {
                            padding: rem(16) 0px;
                        }
                        .title {
                            padding: 0px;
                            text-align: justify;
                        }
                        .description {
                            text-align: justify;
                            display: none;
                            @include mq_min($xs) {
                            }
                            @include mq_min($md) {
                                display: block;
                            }
                        }
                        .detail {
                            order: 1;
                        }
                    }
                }
                // baner in main section in video
                // &--banner {
                //     display: flex;
                //     max-width: 791px;
                //     position: relative;
                //     height: fit-content;
                //     width: 100%;
                //     @include mq_min($xs) {
                //     }
                //     @include mq_min($md) {
                //     }
                //     .card__img {
                //         // width: 790px;
                //     }
                //     .card__body {
                //         position: absolute;
                //         bottom: 0;
                //         background-color: rgba(0, 0, 0, 0.5);
                //         border-radius: 0px 0px 16px 16px;
                //         width: 100%;
                //         padding: 16px;
                //         z-index: 3;
                //         max-width: unset;
                //         @include mq_min($xs) {
                //         }
                //         @include mq_min($md) {
                //             padding: 48px;
                //         }
                //     }
                //     .title {
                //         color: #fff;
                //         @include card__title__banner__0;
                //         padding: 0;
                //     }
                //     .detail {
                //         display: none;
                //     }
                //     .description {
                //         display: none;
                //     }
                //     .card__footer {
                //         display: none;
                //     }
                // }
                &--secondary {
                    position: relative;
                    max-width: unset;
                    // width: 100%;
                    @include mq_min($xs) {
                    }
                    @include mq_min($md) {
                        max-width: 296px;
                    }
                    .card__body {
                        padding: rem(24) rem(0);
                        position: absolute;
                        bottom: 0;
                        background: rgba(0, 0, 0, 0.6);
                        border-radius: 8px;
                        width: 100%;
                        @include mq_min($xs) {
                        }
                        @include mq_min($md) {
                            padding: rem(24) rem(16);
                            border-radius: 16px;
                            position: relative;
                            background-color: unset;
                        }
                    }
                    .card__img {
                        width: unset;
                    }
                    .title {
                        color: #fff;
                        padding: 0 10px;
                        width: 100%;
                        @include mq_min($xs) {
                        }
                        @include mq_min($md) {
                            color: color(Gray_4);
                            padding-top: 24px;
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                    }
                    .detail {
                        display: none;
                        @include mq_min($xs) {
                        }
                        @include mq_min($md) {
                            display: flex;
                        }
                    }
                }
            }
            &.text {
                &--larg {
                    .title {
                        @include card__title__2;
                    }
                    .description {
                        @include card__description__1;
                    }
                }
            }
        }
        &--banner {
            display: flex;
            background-color: color(Hover_01);
            border-radius: 8px;
            padding: rem(12) rem(16) rem(12) rem(4);
            max-width: 986px;
            width: 100%;
            align-items: flex-end;
            justify-content: space-between;
            @include mq_min($xs) {
            }
            @include mq_min($md) {
                border-radius: 24px;
                padding: rem(26) rem(44) rem(0) rem(44);
            }
            .card__body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 3px;
                @include mq_min($xs) {
                }
                @include mq_min($md) {
                    padding-bottom: 30px;
                }
                .title {
                    @include card__banner__title__1;
                    strong {
                        font-family: $font_family;
                        font-size: rem(16) !important;
                        line-height: rem(24) !important;
                        font-weight: 900 !important;
                        @include mq_min($xs) {
                        }
                        @include mq_min($md) {
                            font-size: rem(30) !important;
                            line-height: rem(45) !important;
                        }
                    }
                    .bolder {
                        @include card__banner__title__2;
                    }
                }
                .subtitle {
                    @include card__banner__subtitle__1;
                    strong {
                        @include card__banner__title__2;
                    }
                    .bolder {
                        @include card__banner__subtitle__2;
                    }
                }
            }
            .card__footer {
                padding-top: 10px;
            }
            .card__img {
                &.size {
                    &--larg {
                        display: none;
                        @include mq_min($xs) {
                        }
                        @include mq_min($md) {
                            display: block;
                        }
                    }
                    &--small {
                        display: block;
                        @include mq_min($xs) {
                        }
                        @include mq_min($md) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
