$font_family: YekanBakh, tahoma, arial;
// large 25 00 ,medium 15 25 ,small 0 15
@mixin first_for_test__0 {
    font-family: $font_family;
    font-size: rem(20);
    line-height: rem(20);
    font-weight: 500;
    @include mq_min($xs) {
        font-size: rem(25);
        line-height: rem(25);
    }
    @include mq_min($md) {
        font-size: rem(30);
        line-height: rem(30);
    }
}
@mixin button__blog_tab__0 {
    font-family: $font_family;
    font-size: rem(11);
    line-height: rem(18.65);
    font-weight: 500;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
    }
}
@mixin button__more__0 {
    font-family: $font_family;
    font-size: rem(15);
    line-height: rem(22.5);
    font-weight: 700;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
    }
}
@mixin button__tab__0 {
    font-family: $font_family;
    font-size: rem(16);
    line-height: rem(24);
    font-weight: 700;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
    }
}
@mixin button__primary__14 {
    font-family: $font_family;
    font-size: rem(14);
    line-height: rem(21);
    font-weight: 700;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
        font-size: rem(16);
        line-height: rem(24);
    }
}
@mixin button__primary__15 {
    font-family: $font_family;
    font-size: rem(15);
    line-height: rem(22.7);
    font-weight: 700;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
    }
}
@mixin button__primary__16 {
    font-family: $font_family;
    font-size: rem(16);
    line-height: rem(24);
    font-weight: 700;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
    }
}
@mixin data__0 {
    font-family: $font_family;
    font-size: rem(12);
    line-height: rem(19);
    font-weight: 500;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
        font-size: rem(13);
        line-height: rem(20);
    }
}
@mixin card__title__0 {
    font-family: $font_family;
    font-size: rem(14);
    line-height: rem(21);
    font-weight: 700;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
        font-size: rem(20);
        line-height: rem(30);
    }
}
@mixin card__title__2 {
    font-family: $font_family;
    font-size: rem(14);
    line-height: rem(21);
    font-weight: 700;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
        font-weight: 900;
        font-size: rem(20);
        line-height: rem(30);
    }
}
@mixin card__title__banner__0 {
    font-family: $font_family;
    font-size: rem(20);
    line-height: rem(30);
    font-weight: 700;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
        font-size: rem(36);
        line-height: rem(54);
        font-weight: 900;
    }
}
@mixin card__description__0 {
    font-family: $font_family;
    font-size: rem(15);
    line-height: rem(22.5);
    font-weight: 500;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
    }
}
@mixin card__description__1 {
    font-family: $font_family;
    font-size: rem(16);
    line-height: rem(24);
    font-weight: 500;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
    }
}
@mixin section_header__title__0 {
    font-family: $font_family;
    font-size: rem(20);
    line-height: rem(30);
    font-weight: 900;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
        font-size: rem(24);
        line-height: rem(36);
    }
}
@mixin section_header__subtitle__0 {
    font-family: $font_family;
    font-size: rem(14);
    line-height: rem(21);
    font-weight: 700;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
        font-size: rem(16);
        line-height: rem(24);
    }
}
@mixin card__banner__title__1 {
    font-family: $font_family;
    font-size: rem(16);
    line-height: rem(24);
    font-weight: 500;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
        font-size: rem(30);
        line-height: rem(45);
    }
}
@mixin card__banner__title__2 {
    font-family: $font_family;
    font-size: rem(16);
    line-height: rem(24);
    font-weight: 900;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
        font-size: rem(30);
        line-height: rem(45);
    }
}
@mixin card__banner__subtitle__1 {
    font-family: $font_family;
    font-size: rem(12);
    line-height: rem(18);
    font-weight: 400;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
        font-size: rem(17);
        line-height: rem(25.5);
    }
}
@mixin card__banner__subtitle__2 {
    font-family: $font_family;
    font-size: rem(12);
    line-height: rem(18);
    font-weight: 900;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
        font-size: rem(17);
        line-height: rem(25.5);
    }
}
@mixin slider__post_social__title__0 {
    font-family: $font_family;
    font-size: rem(20);
    line-height: rem(30);
    font-weight: 900;
    @include mq_min($xs) {
    }
    @include mq_min($md) {
        font-size: rem(28);
        line-height: rem(42);
    }
}
